<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @plant.id %>
</p>

<p>
  <b>Field:</b>
  <%= @plant.field_id %>
</p>

<p>
  <b>X:</b>
  <%= @plant.x %>
</p>

<p>
  <b>Y:</b>
  <%= @plant.y %>
</p>

<p>
  <b>Type:</b>
  <%= @plant.element_type_id %>
</p>

<p>
  <b>Process:</b>
  <%= @plant.growth_stage_id %>
</p>


<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
