<p id="notice"><%= notice %></p>

<p>
  <b>Url picture:</b><%= @element.url_pic %>
  <b>Element_type_id</b><%= @element.element_type_id %>
  <b>Growth_id</b> <%= @element.growth_id %>
</p>


<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>
