<h1>Listing growth_stages</h1>

<table>
  <tr>
    <th>Stage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @growth_stages.each do |growth_stage| %>
  <tr>
    <td><%= growth_stage.stage %></td>
    <td><%= link_to 'Show', growth_stage %></td>
    <td><%= link_to 'Edit', edit_growth_stage_path(growth_stage) %></td>
    <td><%= link_to 'Destroy', growth_stage, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Growth stage', new_growth_stage_path %>
