<h1>Listing fields</h1>

<table>
  <tr>
    <th>Id</th>
    <th>User</th>
    <th>Zero x</th>
    <th>Zero y</th>
    <th>Size x</th>
    <th>Size y</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fields.each do |field| %>
  <tr>
    <td><%= field.id %></td>
    <td><%= field.user_id %></td>
    <td><%= field.zero_x %></td>
    <td><%= field.zero_y %></td>
    <td><%= field.size_x %></td>
    <td><%= field.size_y %></td>
    <td><%= link_to 'Show', field %></td>
    <td><%= link_to 'Edit', edit_field_path(field) %></td>
    <td><%= link_to 'Destroy', field, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Field', new_field_path %>
